<main role="main" class="container">
    <h1 class="mt-5">About</h1>
    <p class="lead">
      This website was made to demonstrate create , read , update and delete operations. It was made
      using node.js, express and mongoose.
      Only registered users can use this app.
    </p>
</main>